<div class="w-72 m-1" *ngIf="pokemon && (!filter || isFiltered())">
  <mat-card class="">
    <mat-card-header>
      <mat-card-title *ngIf="species">
        #{{ species.id }}
        {{ species | species: "name":lang || "de" }}</mat-card-title
      >
    </mat-card-header>
    <img
      mat-card-image
      class="rounded"
      style="margin: 0 auto 0.5rem"
      [class]="pokemon.types[0].type.name"
      [src]="pokemon.sprites.front_default"
      [alt]="species.id"/>
    <mat-card-content [class]="lang == 'en' ? ' h-24' : 'h-16'">
      <span>{{ species | species: "flavour":lang || "de" }}</span>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <span
          class="px-2 py-1 mr-1 font-medium bg-stone-200 rounded text-black"
          *ngFor="let type of pokemon.types"
          [ngClass]="type.type.name"
        >
          {{ type.type.name }}
        </span>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
